@import './../../../assets/scss/colors.scss';
@import './../../../assets/scss/mixins.scss';

:host {
  display: inline-block;
  &.block {
    width: 100%;
    > .button {
      width: 100%;
      padding: 20px 20px;
    }
  }
}

.button {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 15px;
  padding: 16px 40px;
  @include transition-primary;
  border-radius: 2px;
  height: 55px;
  max-height: 55px;
  border-width: 2px;
  border-style: solid;

  .title, .icon {
    line-height: 15px;
    display: inline-block;
    vertical-align: middle;
  }

  .icon {
    font-size: 15px;
    margin-left: 5px;
  }

  &.primary {
    color: #FFFFFF;
    background-color: $color-primary;
    border-color: $color-primary;
    &:hover {
      background-color: $color-primary-hover;
    }
  }

  &.secondary {
    color: $color-secondary-hover;
    background-color: #FFFFFF;
    border-color: $color-secondary;
    &:hover {
      color: #FFFFFF;
      background-color: $color-secondary-hover;
      border-color: $color-secondary-hover;
    }
  }
}
