@import './../../../assets/scss/colors.scss';
@import './../../../assets/scss/mixins.scss';

:host {
  display: block;
  max-height: 55px;
  // overflow: hidden;
}

.input-container {
  background-color: pink;
  position: relative;

  &.with-icon {
    .title {
      left: calc(60px + 15px);
    }

    .input {
      padding-left: calc(60px + 15px);
    }

    .input-icon {
      font-size: 23px;
      color: $color-text-secondary;
      position: absolute;
      top: 50%;
      left: calc(.5 * 60px);
      @include transform(translate(-50%, -50%));
    }

    &:before {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: #E7E7E7;
      left: 60px;
      @include transitions(background-color .3s ease);
    }

    &.focused {
      &:before {
        background-color: $color-text-secondary;
      }
    }
  }

  .title {
    font-family: 'Raleway';
    font-style: italic;
    font-size: 16px;
    color: rgba(0,0,0,0.6);

    position: absolute;
    bottom: 50%;
    left: 15px;

    @include transitions(transform .3s ease, font-size .3s ease);
    @include transform(translateY(50%));
    @include transform-origin(left top);

    pointer-events: none;
  }

  .input {
    max-height: 55px;
    /* --padding-top: 15px;
    --padding-end: 15px;
    --padding-bottom: 15px;
    --padding-start: 15px; */
    padding: 15px;
    width: 100%;
    // --background: #FFFFFF;
    background-color: #FFFFFF;
    line-height: 25px !important;
    border: solid 1px #E7E7E7;
    border-radius: 2px !important;
    color: $color-text-secondary;
    font-size: 20px;
    @include transitions(border .3s ease);
    font-family: 'WorkSans SemiBold';

    &:focus {
      border-color: $color-text-secondary;
      box-shadow: none;
      outline: none;
    }
  }

  .information-modal-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    @include transform(translateY(-50%));
    font-size: 15px;
    cursor: pointer;
    @include transitions(color .3s ease);
    color: #b3afaf;

    &:hover {
      color: $color-text-secondary;
    }
  }

  &.with-modal {
    .input {
      padding-right: calc(15px + 15px + 15px);
    }
  }

  &.focused,
  &.has-value {
    .title {
      @include transform(scale(0.75) translateY(calc(-100% + 5px)));
      color: #13293F;
      font-family: 'Avenir LT Std 65 Medium';
      font-style: normal;
      background-color: #FFFFFF;
      padding: 2px 5px;
    }
  }
}
