// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~saturn-datepicker/bundle.css';

.select-ccc {
  .mat-form-field-wrapper{
    padding: 10px 20px;
    border: 1px solid #DDD !important;
  }
}

.mat-form-field-appearance-legacy .mat-form-field-underline{
  display: none;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label{
  background-color: #FFF;
  padding: 0 5px;
  margin-top: -30px;
}

.mat-form-field-appearance-legacy .mat-form-field-prefix
.mat-datepicker-toggle-default-icon, .mat-form-field-appearance-legacy
.mat-form-field-suffix .mat-datepicker-toggle-default-icon {
  width: 2em !important;
}

.mat-form-field-prefix .mat-icon-button, .mat-form-field-suffix .mat-icon-button {
  height: 3em;
  width: 3em;
}
