<ion-content padding>
    <h1>Trazabilidad del Cross Dock</h1>
    <form action="" [formGroup]="form">
        <ion-grid>
            <!-- Input Forms-->

            <ion-row class="cont-inputs" padding-bottom margin-bottom>
                <ion-col sizeXs="12" sizeMd="5">

                    <ccc-input-text
                            type="text"
                            placeholder="N° Orden"
                            icon="custom-document-icon"
                            [(model)]="gdd"
                            [hasModal]="true"
                            (modalCallback)="inputDocumentReceptionModal()"
                    ></ccc-input-text>
                    <div class="cont-link color-success">
                        Búsqueda Masiva
                    </div>
                </ion-col>
                <ion-col sizeXs="12" sizeMd="5">
                    <ccc-input-text
                            type="text"
                            placeholder="RUT"
                            icon="custom-document-icon"
                            [(model)]="gdd"
                            [hasModal]="true"
                            (modalCallback)="inputDocumentReceptionModal()"
                    ></ccc-input-text>
                    <div class="cont-link color-primary">
                        Búsqueda Avanzada
                    </div>
                </ion-col>
                <ion-col sizeXs="12" sizeMd="2">
                    <ion-button class="btn-search" expand="block" color="primary">
                        Buscar
                        <ion-icon name="search"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>

            <!-- Input Forms-->

            <!--Selects Forms-->

            <ion-row>
                <!--Order-->
                <ion-col sizeXs="12" sizeMd="4">
                    <mat-form-field class="select-ccc">
                        <mat-label>Negocio de Origen</mat-label>
                        <mat-select formControlName="puntoOrigen" name="puntoOrigen" multiple>
                            <mat-option value="Tottus">Tottus</mat-option>
                            <mat-option value="Falabella">Falabella</mat-option>
                            <mat-option value="Sodimac">Sodimac</mat-option>
                            <mat-option value="Linio">Linio</mat-option>
                            <mat-option value="Tottus">Tottus</mat-option>
                        </mat-select>
                    </mat-form-field>
                </ion-col>

                <!--Destiny-->
                <ion-col sizeXs="12" sizeMd="4">
                    <mat-form-field class="select-ccc">
                        <mat-label>Negocio de Destino</mat-label>
                        <mat-select formControlName="puntoDestino" name="puntoDestino" multiple>
                            <mat-option value="Tottus">Tottus</mat-option>
                            <mat-option value="Falabella">Falabella</mat-option>
                            <mat-option value="Sodimac">Sodimac</mat-option>
                            <mat-option value="Linio">Linio</mat-option>
                            <mat-option value="Tottus">Tottus</mat-option>
                        </mat-select>
                    </mat-form-field>
                </ion-col>

                <!--Retirement-->
                <ion-col sizeXs="12" sizeMd="4">
                    <mat-form-field class="select-ccc">
                        <mat-label>Punto de Retiro</mat-label>
                        <mat-select formControlName="puntoRetiro" name="puntoRetiro" multiple>
                            <mat-option value="Tottus">Tottus</mat-option>
                            <mat-option value="Falabella">Falabella</mat-option>
                            <mat-option value="Sodimac">Sodimac</mat-option>
                            <mat-option value="Linio">Linio</mat-option>
                            <mat-option value="Tottus">Tottus</mat-option>
                        </mat-select>
                    </mat-form-field>
                </ion-col>

                <!--Buy Date-->
                <ion-col sizeXs="12" sizeMd="6">
                    <!--<mat-form-field class="select-ccc">
                        <input matInput [matDatepicker]="picker" placeholder="Fecha de Compra">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>-->
                    <mat-form-field class="select-ccc">
                        <input matInput
                               placeholder="Fecha de Compra"
                               [satDatepicker]="picker3"
                               formControlName="date">
                        <sat-datepicker #picker3 [rangeMode]="true">
                        </sat-datepicker>
                        <sat-datepicker-toggle matSuffix [for]="picker3"></sat-datepicker-toggle>
                    </mat-form-field>
                </ion-col>

                <!--Retirement Date-->
                <ion-col sizeXs="12" sizeMd="6">
                    <!--<mat-form-field class="select-ccc">
                        <input matInput [matDatepicker]="picker1" placeholder="Fecha de Retiro">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>-->
                    <mat-form-field class="select-ccc">
                        <input matInput
                               placeholder="Fecha de Retiro"
                               [satDatepicker]="picker4"
                               formControlName="date">
                        <sat-datepicker #picker4 [rangeMode]="true">
                        </sat-datepicker>
                        <sat-datepicker-toggle matSuffix [for]="picker4"></sat-datepicker-toggle>
                    </mat-form-field>
                </ion-col>

                <!--OC State-->
                <ion-col sizeXs="12" sizeMd="6">
                    <mat-form-field class="select-ccc">
                        <mat-label>Estado OC / Sub Orden</mat-label>
                        <mat-select formControlName="ionite" name="ionite" multiple>
                            <mat-option value="ocCreada">OC Creada</mat-option>
                            <mat-option value="ocConfirmada">OC Confirmada</mat-option>
                            <mat-option value="enPreparacion">En preparación</mat-option>
                            <mat-option value="enRuta">En Ruta</mat-option>
                            <mat-option value="tiendaErronea">Tienda Errónea</mat-option>
                            <mat-option value="listoUbicar">Listo para ubicar</mat-option>
                            <mat-option value="listoEntrega">Listo para entregar</mat-option>
                            <mat-option value="cancelado">Cancelado</mat-option>
                        </mat-select>
                    </mat-form-field>
                </ion-col>

                <!--Invoice Number-->
                <ion-col sizeXs="12" sizeMd="6">
                    <mat-form-field class="select-ccc">
                        <input matInput placeholder="Número de Boleta">
                    </mat-form-field>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>


