.cont-link{
  padding: 15px 0;
  text-align: right;
  text-decoration: underline;
  font-size: .8rem;
}

.color-success{
  color: #0ec254;
}

.color-primary{
  color: #3171e0;
}

.cont-inputs{
  border-bottom: 1px solid #DDD;
}

mat-form-field{
  width: 100%;
}

.btn-search{
  --border-radius: 0;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-grid {
  --ion-grid-padding-md: 16px;
}

